.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fffc00; /* Snapchat yellow */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoImage {
    width: 40px;
    height: auto;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navLinks li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .navLinks li a:hover {
    text-decoration: underline;
  }  